DISCORD_API_TOKEN =
DISCORD_BOT_ID = 
DISCORD_GUILD_ID = 

DISCORD_ROLE_CHANNEL_NAME = 
DISCORD_WELCOME_CHANNEL_NAME = 

# 
# Optional
# 

# Set to false to disable slash command registration for feature modules. There is a limit to how many commands can be created per day
# and as such is recommended that this is set to false when developing the bot.
# 
# https://discordjs.guide/creating-your-bot/command-deployment.html#command-registration
# 
DISCORD_REGISTER_SLASH_COMMANDS = 