DISCORD_API_TOKEN=
DISCORD_BOT_ID=
DISCORD_GUILD_ID=

DISCORD_ROLE_CHANNEL_NAME=
DISCORD_WELCOME_CHANNEL_NAME=

# 
# Optional
# 

# Set to false to disable slash command registration for feature modules. There is a limit to how many commands can be created per day
# and as such is recommended that this is set to false when developing the bot.
# 
# https://discordjs.guide/creating-your-bot/command-deployment.html#command-registration
# 
DISCORD_REGISTER_SLASH_COMMANDS=

PATREON_CAMPAIGN_ID=
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_ACCESS_TOKEN=
PATREON_REFRESH_TOKEN=

# Example: {"Supporter":[],"Backer":[]}. Where the key is the tier name on Patreon and the value is an array of Discord role IDs.
PATREON_TIERS_DISCORD_ROLES= 