// Imports
@import 'libs/scss/1140';
@import 'libs/scss/mixins';
@import 'libs/scss/dom_flexbox';
@import 'libs/scss/spacing';
@import 'libs/scss/colors';
@import 'libs/scss/fonts';

@import 'libs/scss/modules/tabs';
@import 'libs/scss/modules/search';
@import 'libs/scss/modules/tables';

// GLobal styles
html {
  font-family: $primary_font_family;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: $support;
  background: $base;
}

body {
  color: inherit;
}

p,
a,
li {
  padding: 0.25rem 0;
}

a {
  text-decoration: none;
  color: $primary_lightened;
}

h1,
h2,
h3,
h4,
h4 {
  font-family: $primary_font_family;
  color: inherit;
  font-weight: 400;

  &.visions {
    font-family: $secondary_font_family;
    letter-spacing: 1.4px;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.4rem;
}

p + h4 {
  margin-bottom: 1.25rem;
  margin-top: 0.5rem;
}

h4 {
  font-size: 1.2rem;

  & > em {
    font-style: normal;
    padding-left: 0.5rem;
    margin: 1rem 0 0.5rem 0;
    display: block;
    border-left: 3pt solid $primary;
  }
}

hr {
  border-top: none;
  border-bottom: none;
  margin: 1.25rem 0;
}

ul,
ol {
  list-style-position: outside;
  margin: 0.5rem 0;
  margin-left: 1.75rem;

  // Padding for p and li elements are defined in the same rule. If a p exists inside a list item,
  // it will have double the padding.
  li {
    p {
      padding: 0;
    }
  }
}

code {
  background: lighten($base_lightened, 20%);
  padding: 0.2rem 0.6rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 3pt;
  font-size: 0.9rem;
}

blockquote {
  border-left: 3pt solid $primary;
  padding-left: 0.75rem;
  margin-left: 0.25rem;
  display: block;
  font-style: italic;

  p {
    font-size: 1.1rem;
  }
}

section.root {
  padding-bottom: 5rem;
}

.content-section {
  margin-bottom: 3rem;
}

//
// Deep penetrating sub-menu header styles
//
.right-content,
.left-content {
  color: $support;

  @include flexbox();
  @include flex-direction(row);

  a {
    font-weight: 300;
    color: inherit;
    padding: 0.75rem 0.75rem;
    font-size: 0.9rem;
    @include transition(color 0.3s);

    &.active-sub-menu {
      color: $white;
      border-bottom: 2pt solid $primary_lightened;
      font-weight: 500;
    }

    &:hover {
      color: $white;
    }
  }
}

// END page sub-header

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wire-container {
  padding: 1.25rem 1.5rem;
  border: 1pt solid $base_lightened;
  border-radius: 5pt;
  transition: border-color 0.25s;

  &.lit {
    border-color: $base_focus;
  }

  &.hover-light {
    &:hover {
      border-color: $base_focus;
    }
  }
}

.interactable {
  transition: opacity 0.25s;

  &.deactivated {
    opacity: 0.4;
    pointer-events: none;
  }
}

.hidden {
  display: none;
}

.inform-context {
  border: 1pt solid $support;
  padding: 1rem;
  border-radius: 7pt;
  font-size: 0.9rem;

  &.warn {
    background: #fff59d0e;
    border-color: #fff59d5e;
  }
}
