@import 'src/scss/mixins';

:host {
  display: block;
  position: relative;
  background: #f5f5f5;
  width: 100%;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

header {
  position: inherit;
  z-index: 1;
  .nav {
    position: relative;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
  }

  .branding-block {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    img {
      width: 3rem;
    }

    :hover {
      cursor: pointer;
    }
  }
}

h1 {
  color: #5a4350;
}

a {
  color: #616161;
  text-decoration: none;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  font-weight: 500;
}

ul {
  @include flexbox();
  @include flex-direction(row);
  margin: 0;
}

li {
  list-style-type: none;
  padding: 1.5rem 1rem;

  &.dropdown {
    padding: 1.5rem 0.7rem;
    position: relative;

    perspective: 400px;
    -webkit-perspective: 400px;
    perspective-origin: center;
    -webkit-perspective-origin: center;

    a {
      span.material-icons {
        font-size: 1.1rem;
        margin-right: 0.4rem;
        margin-left: 0.4rem;
        @include transition(transform 0.25s);
      }
    }
    .sub-menu {
      position: absolute;
      min-width: 20rem;
      left: 50%;
      top: calc(100% - 1rem);
      z-index: 9999;
      padding: 0.75rem;
      box-sizing: border-box;
      opacity: 0;
      pointer-events: none;
      filter: drop-shadow(-2px 5px 5px rgba(0, 0, 0, 0.1));
      @include transform-origin(50% -50px);
      @include transform(translateX(-50%) rotateX(-20deg));
      @include transition(transform 0.25s, opacity 0.25s);

      ul {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);
        background: #ffffff;
        border-radius: 7px;

        li {
          padding: 0.25rem 1rem;

          &:first-child {
            padding-top: 0.75rem;
          }

          &:last-child {
            padding-bottom: 1rem;
          }

          &.descriptive-menu-item {
            a {
              @include flexbox();
              @include flex-direction(column);
              @include justify-content(flex-start);
              @include align-items(flex-start);

              span:last-child {
                font-size: 0.85rem;
                color: #626262;
              }
            }
          }

          &:hover {
            color: #212121;

            .sub-sub-menu {
              opacity: 1;
              pointer-events: initial;
            }
          }
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0.25rem;
        left: 50%;
        @include transform(translate(-50%) rotateZ(45deg));
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 5px;
        background: #ffffff;
        z-index: -1;
      }

      .sub-sub-menu {
        position: absolute;
        left: calc(100% - 0.85rem);
        top: 0.75rem;
        height: calc(100% - 1.5rem);
        opacity: 0;
        pointer-events: none;
        background: #eceff1;
        min-width: 15rem;

        li {
          white-space: nowrap;
        }

        ul {
          background: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      .sub-sub-menu {
        ul {
          li {
            padding: 0.15rem 1rem;

            &:first-child {
              padding-top: 0.5rem;
            }

            &:last-child {
              padding-bottom: 1rem;
            }
          }
        }
      }

      &:active {
        z-index: -1;
      }
    }

    &:hover,
    &.active {
      a {
        color: #000000;

        span.material-icons {
          @include transform(rotate3d(0, 0, 1, -180deg));
        }
      }

      .sub-menu {
        opacity: 1;
        pointer-events: initial;
        @include transform(translateX(-50%) rotateX(0deg));
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
