<app-sub-header>
  <div class="left-content">
    <a href="http://">Community Rules</a>
    <a href="http://">Reddit</a>
    <a href="http://">Forums</a>
    <a href="http://">Support</a>
  </div>
</app-sub-header>

<section class="root">
  <div class="container12">
    <div class="column3">
      <!-- Table of contents here -->
      &nbsp;
    </div>
    <div class="column8">
      <content-fragment url="https://raw.githubusercontent.com/Proantagonist/SupremeGamingCoalitionRules/master/Ark/PVE/pve.md"></content-fragment>
    </div>
  </div>
</section>
