@import 'src/scss/mixins';

.right-content,
.left-content {
  color: #f5f5f5;

  @include flexbox();
  @include flex-direction(row);

  a {
    font-weight: 300;
    color: inherit;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;

    &:hover {
      color: #ffffff;
    }
  }
}

.left-content {
  a:first-child {
    padding-left: 0;
  }
}

.left-content {
  a:last-child {
    padding-right: 0;
  }
}
